"made by ekchju

set number
set relativenumber


" easy navigate splits
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

map <leader>r :action ReformatCode<CR>

"IdeaVim 
set vim-surround
